<ion-router-outlet main></ion-router-outlet>


<ion-content>
  <div class="div-formulario">

    <h1>Registrate</h1>
    <p>Completa el formulario para crear tu unica cuenta.</p>


    <ion-input class="inputs-register" type="email" placeholder="Escribe tu correo electronico" required="true"
      [(ngModel)]="email"></ion-input>

    <ion-input class="inputs-register" type="text" placeholder="Escribe tu usuario" aria-required="true"
      [(ngModel)]="user"></ion-input>

    <ion-input class="inputs-register" type="password" placeholder="Escribe tu contraseña" aria-required="true"
      [(ngModel)]="password"></ion-input>

    <ion-input class="inputs-register" type="password" placeholder="Vuelve a escribir tu contraseña" required="true"
      [(ngModel)]="password2"></ion-input>

    <p>
      <ion-checkbox aria-required="true"></ion-checkbox> Terminos y condiciones <a href="####">contrato</a>
    </p>

    <ion-button (click)="crear()" expand="full">
      <ion-icon name="cloudy"></ion-icon>
      Registrarme
    </ion-button>

  </div>

</ion-content>