<ion-router-outlet main></ion-router-outlet>
<ion-content>
  <div class="div-formulario">

    <h1>Recuperar contraseña</h1>
    <p>Esta vista esta pensada para recuperar la contraseña de su usuario registrado.</p>
    <p>Por favor ingrese el correo electronico de la cuenta a recuperar.</p>
    <ion-input aria-required="true" type="email" placeholder="Ingrese el correo electronico"
      [(ngModel)]="correoRecuperacion"></ion-input>
    <ion-button (click)="recuperarClave()">
      Recuperar
    </ion-button>

  </div>

</ion-content>