<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Tipos de Anticipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>Completa el formulario para predefinir los tipos de anticipos</p>
  </ion-text>
  <div>
  <input type="text" placeholder="Código" [(ngModel)]="codigoTipoAnticipo" /> 
  <input type="text" placeholder="Descripción del tipo de Anticipo" [(ngModel)]="descripcionTipoAnticipo" />
</div>
  <div>
    <ion-button (click)="guardarTipoAnticipo()" expand="full">
    <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>

</ion-content>
