
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TIPOS DE TRUEQUE</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">CERRAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <ion-text>
      <div class="bloque">
        <p>Completa el formulario para crear un tipo de trueque</p>
      </div>
    </ion-text>
  </div>

    <div>
      <input type="text" placeholder="Código del Trueque" [(ngModel)]="codigoTipoTrueque" />
      <input type="text" placeholder="Descripción del Trueque" [(ngModel)]="descripcionTipoTrueque" />
    </div>

    <div>
      <ion-button (click)="guardarTipoTrueque()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>

</ion-content>