<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="success">CERRAR</ion-button>
    </ion-buttons>
    <ion-title class="titulo">ESTADOS QUESO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <p>Código <span>*</span></p>
    <input maxlength="4" type="text"  [(ngModel)]="codigoEdit" />
    <p>Descripción <span>*</span></p>
    <input maxlength="30" type="text" [(ngModel)]="descripcionEdit" />
  </div>
  <div>
    <ion-button (click)="guardarEstadoProducto()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>