<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Estados del Queso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>Completa el formulario configurar los estados del producto</p>
  </ion-text>
  <div>
  <input type="text" placeholder="Código" [(ngModel)]="codigoEstado" />
  <input type="text" placeholder="Descripción del estado" [(ngModel)]="descripcionEstado" />
</div>
  <div>
    <ion-button (click)="guardarEstadoProducto()" expand="full">
    <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>

</ion-content>
