<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">ESTADOS DEL QUESO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <ion-text>
      <div class="bloque">
        <p>Completa el formulario para crear los estados del queso</p>
      </div>
    </ion-text>
  </div>

    <div>
      <input type="text" placeholder="Código del Producto" [(ngModel)]="codigoEstado" />
      <input type="text" placeholder="Descripción del Producto" [(ngModel)]="descripcionEstado" />
    </div>

    <div>
      <ion-button (click)="guardarEstadoProducto()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>

</ion-content>