
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TERMINOS Y CONDICIONES</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <ion-title class="title">Uso de Información y Privacidad</ion-title>
    <p>Con la descarga de la APP usted acepta y autoriza que Juan Gomez, Alejandro Amaya, Fernanda Díaz Asociados.,
      utilice sus datos en calidad de responsable del tratamiento para fines derivados de la ejecución de la APP. Juan
      Gomez, Alejandro Amaya, Fernanda Díaz Asociados. informa que podrá ejercer sus derechos a conocer, actualizar,
      rectificar y suprimir su información personal; así como el derecho a revocar el consentimiento otorgado para el
      tratamiento de datos personales previstos en la ley 1581 de 2012, observando nuestra política de tratamiento de
      información disponible a través de queseritosdev@gmail.com , siendo voluntario responder preguntas sobre información
      sensible o de menores de edad.

      Juan Gomez, Alejandro Amaya, Fernanda Díaz Asociados. podrá dar a conocer, transferir y/o trasmitir sus datos
      personales dentro y fuera del país a cualquier socio miembro del grupo Juan Gomez, Alejandro Amaya, Fernanda Díaz
      Asociados, así como a terceros a consecuencia de un contrato, ley o vínculo lícito que así lo requiera, para todo
      lo anterior otorgo mi autorización expresa e inequívoca.

      De conformidad a lo anterior autoriza el tratamiento de su información en los términos señalados, y transfiere a
      Juan Gomez, Alejandro Amaya, Fernanda Díaz Asociados de manera total, y sin limitación mis derechos de imagen y
      patrimoniales de autor, de manera voluntaria, previa, explicita, informada e inequívoca.​​​

    </p>
  </div>
  <div class="div-intermedio">
    <ion-title class="title">Propiedad Intelectual</ion-title>
    <p>Todo el material informático, gráfico, publicitario, fotográfico, de multimedia, audiovisual y de diseño, así
      como todos los contenidos, textos y bases de datos puestos a su disposición en esta aplicación están protegidos
      por derechos de autor y/o propiedad industrial cuyo titular es Juan Sebastian Gomez Tovar, Alejandro Alfonzo Amaya Rodriguez, Yeni Fernanda Diaz Diaz
      Asociados. Todos los contenidos en la aplicación están protegidos por las normas sobre derecho de autor y por
      todas las normas nacionales e internacionales que le sean aplicables.

      Exceptuando lo expresamente estipulado en estos Términos y Condiciones, queda prohibido todo acto de copia,
      reproducción, modificación, creación de trabajos derivados, venta o distribución, exhibición de los contenidos de
      esta aplicación, de manera o por medio alguno, incluyendo, más no limitado a, medios electrónicos, mecánicos, de
      fotocopiado, de grabación o de cualquier otra índole, sin el permiso previo y por escrito de Juan Gomez, Alejandro
      Amaya, Fernanda Diaz Asociados o del titular de los respectivos derechos.

      En ningún caso estos Términos y Condiciones confieren derechos, licencias ni autorizaciones para realizar los
      actos anteriormente prohibidos. Cualquier uso no autorizado de los contenidos constituirá una violación del
      presente documento y a las normas vigentes sobre derechos de autor, a las normas vigentes nacionales e
      internacionales sobre Propiedad Industrial, y a cualquier otra que sea aplicable.</p>
  </div>




</ion-content>