<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">DETALLE LOTE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cardcompras" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-button *ngIf="crearAnticipo" fill="clear" shape="round" slot="end" (click)="irHomeAnticipo2()">
      <ion-icon name="cash" color="success">+</ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div-principal">
    <div class="col_1">
      <p class="p1">Proveedor</p>
      <p class="p2">{{nombreProv}}</p>
    </div>
    <div class="col_2">
      <p class="p1">N° lote</p>
      <p class="p2">{{loteRecibido}}</p>
    </div>
  </div>
  <div class="div-secundario">
    <ion-segment class="segment" (ionChange)="cambiarHoja($event)" color="tertiary" value="ccompras">
      <ion-segment-button value="ccompras">
        <ion-label>Compra</ion-label>
      </ion-segment-button>
      <ion-segment-button value="scompras">
        <ion-label>Directa</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="div-card1" *ngIf="cards_Compras">
      <ion-card class="card" *ngFor="let item of dataFront">
        <div class="div_info">
          <p>Producto: {{item.nompreProducto}}</p>
          <p>Costo T.Compra: {{item.costoTotalCompra | currency:'USD':true: '2.0-0'}} </p>
          <p>Valor T.Anticipo: {{item.valorSumaAnticipos | currency:'USD':true: '2.0-0'}} </p>
          <ion-button (click)="irHomeAnticipo(item)" class="btn_crearAnt" expand="block" fill="clear" shape="round">
            <ion-icon slot="end" name="cash" color="success"></ion-icon>+
          </ion-button>
        </div>
        <div class="div_tabla">
          <table class="table">
            <thead class="thead">
              <th class="th1">Tipo anticipo</th>
              <th class="th2">valor</th>
              <th class="th3">Imagen</th>
              <th class="th4">Fecha</th>
            </thead>
          </table>
          <ion-item-sliding class="slider" *ngFor="let lista of item.anticipos">
            <ion-item class="item">
              <label class="td1" (ngModel)="tipoAnt">{{lista.idTipoAnticipo}}</label>
              <label class="td2" (ngModel)="valor">{{lista.valorAnticipo | currency:'USD':true: '2.0-0'}}</label>
              <label class="td3" (ngModel)="concepto" (click)="verImagen(lista)">
                <ion-icon name="image-outline" color="tertiary"></ion-icon>
              </label>
              <label class="td4" (ngModel)="fecha">{{lista.fechaAnticipo}}</label>
            </ion-item>
            <ion-item-options class="item-opt" side="end">
              <ion-item-option color="danger" (click)="removeRegister(lista)">Eliminar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-card>
    </div>
    <div class="div-card2" *ngIf="cards_anticipos">
      <h3 class="h3">{{sumaAnticiposDirecto | currency:'USD':true: '2.0-0'}}</h3>
      <div class="div_tabla">
        <table class="table">
          <thead class="thead">
            <th class="th1">Tipo anticipo</th>
            <th class="th2">valor</th>
            <th class="th3">Imagen</th>
            <th class="th4">Fecha</th>
          </thead>
        </table>
        <ion-item-sliding class="slider" *ngFor="let item of dataFrontDirecta">
          <ion-item class="item">
            <label class="td1" (ngModel)="tipoAnt">{{item.nompreProducto}}</label>
            <label class="td2" (ngModel)="valor">{{item.valorAnticipo | currency:'USD':true: '2.0-0'}}</label>
            <label class="td3" (ngModel)="concepto" (click)="verImagen(item)">
              <ion-icon name="image-outline" color="tertiary"></ion-icon>
            </label>
            <label class="td4" (ngModel)="fecha">{{item.fechaAnticipo}}</label>
          </ion-item>
          <ion-item-options class="item-opt" side="end">
            <ion-item-option color="danger" (click)="removeRegister(item)">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irInicio()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irCompras()">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irEstado()">
          <ion-icon name="podium"></ion-icon>
          <ion-label>Estado</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>