ion-toolbar {
    --background: #1a1446;
}

.titulo {
    color: white;
}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: #1a1446;

    .div-principal {
        width: 100%;
        height: 15%;
        background-color: #4376ff;

        .col_1,
        .col_2 {
            display: inline-block;
            width: 50%;
            height: 100%;
            text-align: center;
        }

        .h1,
        .h2 {
            margin: 0%;
            padding: 0%;
        }

        .h2 {
            font-size: 3vh;
            color: #1a1446;
        }

        .h1 {
            font-size: 4vh;
            color: #ff2f73;
            font-weight: bold;
        }
    }


    .div-secundario {
        height: 90%;
        width: 100%;
        padding-top: 1em;
        position: absolute;
        z-index: 0;

        .btn_crearAnt {
            float: right;
            width: 25%;
            line-height: 100%;
            --background: #1a1446;
        }

        .slider {
            width: 100%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            margin-top: 20px;


            .item {
                --background: transparent;
                --border-style: none;


                .div-card {
                    width: 100%;
                    border: #1a1446 solid 3px;
                    border-radius: 5px;


                    .card {
                        width: 100%;
                        margin: auto;
                        background-color: white;
                        padding: 15px;

                        .div_tabla {
                            width: 100%;
                            margin: auto;

                            p {
                                font-size: 3vh;
                                font-weight: bold;
                                text-align: center;
                                width: 100%;

                            }

                            .table {
                                width: 100%;


                                .thead {
                                    border: solid 2px #1a1446;
                                    background: #1a1446;
                                    color: white;

                                    .th1 {
                                        width: 30%;
                                    }

                                    .th2 {
                                        width: 70%;
                                    }
                                }

                                .tbody {
                                    border: solid 2px #1a1446;

                                    .td1 {
                                        width: 30%;
                                        text-align: center;
                                    }

                                    .td2 {
                                        width: 70%;
                                        text-align: center;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .div-pesoc {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .div-atributo1 {
        display: inline-block;
        width: 50%;
        height: 100%;

    }

    .div-atributo2 {
        display: inline-block;
        width: 50%;
        height: 100%;
    }

    .card1 {
        margin: auto;
        text-align: left;
        --background: #ff2f73;
    }

    #boton-n-lote {
        padding: 0;
        line-height: 20px;
        width: 18px;
        font-size: 20pt;
        font-family: tahoma;
        margin-top: 0;
        margin-right: 2px;
        position: absolute;
        top: 0;
        right: 10px;
        background: #ff2f73;
    }

}