ion-toolbar {
    --background: #1a1446;
}

.titulo {
    color: white;
}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: #1a1446;

    .div-principal {
        width: 100%;
        height: 10%;
        background-color: #15317c;
        position: fixed;
        z-index: 20;

        .col_1,
        .col_2 {
            display: inline-block;
            width: 50%;
            height: 100%;
            text-align: center;
        }

        .p1,
        .p2 {
            margin: 0%;
            padding: 0%;
        }

        .p1 {
            font-size: 2.5vh;
            color: #fff;
        }

        .p2 {
            font-size: 3vh;
            font-weight: bold;
            color: #c8f7f3;
        }
    }


    .div-secundario {
        height: 90%;
        width: 100%;
        margin: auto;
        margin-top: 12vh;
        max-width: 800px;
        z-index: 10;



        .btn_crearAnt {
            float: right;
            width: 25%;
            line-height: 100%;
            --background: #1a1446;
        }


        .div-card1 {
            width: 100%;
            border: #1a1446 solid 3px;
            border-radius: 5px;
            background-color: #fff;


            .card {
                width: 100%;
                margin: auto;
                background-color: white;

                .div_info {
                    padding: 10px;
                    color: #1a1446;
                    font-weight: bold;
                }

                .div_tabla {
                    width: 100%;
                    margin: auto;

                    p {
                        font-size: 3vh;
                        font-weight: bold;
                        text-align: center;
                        width: 100%;

                    }

                    .slider {
                        width: 100%;
                        border-style: none;
                        padding: 0;
                        margin: 0;

                        .item {
                            --background: transparent;
                            // --border-style: none;
                            width: 100%;
                            margin: 0;
                            position: relative;
                            float: left;
                            padding-inline-start: 0;
                            --padding-start: 0;
                            --ion-safe-area-right: 0;
                            --inner-padding-end: 0;

                            .td1,
                            .td2,
                            .td3,
                            .td4 {
                                text-align: center;
                                color: #1a1446;
                                display: inline-block;
                                padding: 0;
                                margin: 0;
                                font-size: 2vh;
                            }

                            .td1 {
                                width: 30%;

                            }

                            .td2 {
                                width: 30%;

                            }

                            .td3 {
                                width: 10%;
                            }

                            .td4 {
                                width: 30%;
                            }

                            .item-opt {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }

                    .table {
                        width: 100%;


                        .thead {
                            border: solid 2px #1a1446;
                            background: #1a1446;
                            color: white;

                            .th1 {
                                width: 30%;
                            }

                            .th2 {
                                width: 30%;
                            }

                            .th3 {
                                width: 10%;
                            }

                            .th4 {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }

        .div-card2 {
            width: 100%;
            border: #1a1446 solid 3px;
            border-radius: 5px;
            background-color: #fff;

            .div_tabla {
                width: 100%;
                margin: auto;
                border: #1a1446 solid 3px;
                border-radius: 5px;
                background-color: #fff;

                p {
                    font-size: 3vh;
                    font-weight: bold;
                    text-align: center;
                    width: 100%;

                }

                .slider {
                    width: 100%;
                    border-style: none;
                    padding: 0;
                    margin: 0;

                    .item {
                        --background: transparent;
                        // --border-style: none;
                        width: 100%;
                        margin: 0;
                        position: relative;
                        float: left;
                        padding-inline-start: 0;
                        --padding-start: 0;
                        --ion-safe-area-right: 0;
                        --inner-padding-end: 0;

                        .td1,
                        .td2,
                        .td3,
                        .td4 {
                            text-align: center;
                            color: #1a1446;
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            font-size: 2vh;
                        }

                        .td1 {
                            width: 30%;

                        }

                        .td2 {
                            width: 30%;

                        }

                        .td3 {
                            width: 10%;
                        }

                        .td4 {
                            width: 30%;
                        }

                        .item-opt {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .table {
                    width: 100%;


                    .thead {
                        border: solid 2px #1a1446;
                        background: #1a1446;
                        color: white;

                        .th1 {
                            width: 30%;
                        }

                        .th2 {
                            width: 30%;
                        }

                        .th3 {
                            width: 10%;
                        }

                        .th4 {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}