<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" shape="round" slot="start" (click)="volver()">
      <ion-icon name="arrow-back" color="danger"></ion-icon>
    </ion-button>
    <ion-title class="titulo">PESAJE COMPRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="info">
      <p class="p-title">Proveedor: {{nombreProv}}</p>
      <p class="p-title">Fecha Compra: {{fecha}}</p>
      <p class="p-title">Tipo de queso:</p>
      <ion-select [(ngModel)]="productoDefault" class="select" [interfaceOptions]="customAlertOptions" interface="alert"
        multiple="false" ok-text="Aceptar" cancel-text="Cancelar" placeholder="Tipo de queso">
        <ion-select-option [value]="lista.id" *ngFor="let lista of FB.productosLista">
          {{lista.descripcion}}
        </ion-select-option>
      </ion-select>
    </div>
    <div class="div-table">
      <p>Lista de bultos</p>
      <table class="table">
        <thead class="thead">
          <th class="th1">Bulto</th>
          <th class="th2">Peso</th>
          <th class="th3">
            <div class="div_toggle">
              <ion-chip class="btn-add" (click)="agregarBultoLista()">
                <ion-icon name="add" color="success"></ion-icon>
              </ion-chip>
            </div>
          </th>
        </thead>
        <tbody class="tbody">
          <tr class="tr" *ngFor="let lista of listaBultosEdit; let i=index">
            <td class="td1">
              <label (ngModel)="numbulto">{{i+1}}</label>
            </td>
            <td class="td2">
              <label class="valorTabla" type="number" (ngModelChange)="edit($event)">{{lista.peso}} </label>
            </td>
            <td class="td3">
              <div class="div_toggle">
                <ion-chip class="btn-remove" (click)="removeRegister(lista)">
                  <ion-icon name="close" color="danger"></ion-icon>
                </ion-chip>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ion-button class="btn_guardar" *ngIf="mostrar" (click)="guardar()" expand="full" color="success">
        <ion-icon name="save-outline"></ion-icon>
        <ion-label>Guardar</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>