ion-toolbar {
  --background: #1a1446;

  ion-title {
    font-size: 20px;
    color: white;
  }
}


ion-content {
  padding: 0;
  margin: 0;
  --background: #c8f7f3;
  --color: #1a1446;

  .div-principal {
    max-width: 700px;
    margin: auto;
    width: 100%;

    .info {
      max-width: 700px;
      position: fixed;
      height: 20%;
      background-color: #c8f7f3;
      z-index: 1;
      width: 100%;

      .p-title {
        width: 100%;
        font-weight: bold;
        color: #1a1446;
        font-weight: bold;
      }

      .select {
        background-color: white;
        color: #1a1446;
        border-style: solid;
        border-width: 2px;
        border-color: #1a1446;
        font-size: medium;
        padding-left: 10px;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        --placeholder-color: #1a1446;
        --placeholder-opacity: 1;

      }

    }



    .div-table {
      max-width: 700px;
      padding-top: 9em;
      position: absolute;
      z-index: 0;
      width: 100%;

      p {
        font-size: 3vh;
        font-weight: bold;
        text-align: center;
        width: 100%;

      }

      .table {
        width: 100%;

        .thead {
          border: solid 2px #1a1446;
          background: #1a1446;
          color: white;
          padding: 0;

          .th1,
          .th2,
          .th3 {
            margin: 0;
            padding: 0;
          }

          .th1 {
            width: 20%;
          }

          .th2 {
            width: 70%;
          }

          .th3 {
            width: 10%;
          }
        }

        .tbody {
          border: solid 2px #1a1446;

          .tr {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #1a1446;
          }

          .td1,
          .td2,
          .td3 {
            padding: 0;
            margin: 0;
            text-align: center;

          }

          .td2 {

            .valorTabla {
              display: block;
              width: 100%;
              padding: 0;

            }

            .valorTabla::after {
              content: ' Kg';
              color: black;

            }
          }
        }
      }

      .div_toggle {
        // margin-top: 20px;
        width: 100%;
        height: 100%;
        // height: 50px;

        .btn-add,
        .btn-close {
          background-color: transparent;
          // float: right;
          width: 100%;
          height: 100%;
        }
      }
    }

    .btn_guardar {
      margin-top: 50px;
      max-width: 700px;
      font-size: 20px;
      height: 60px;
      width: 100%;
      color: white;
    }
  }

}