<ion-router-outlet main> </ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">CLIENTES</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar cliente" (ionChange)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="content">

    <ion-list class="lista">
      <ion-item (click)="irCardListaClientes(input)" *ngFor="let input of listanombres">
        <ion-icon slot="start" name="chevron-forward"></ion-icon>
        <ion-label class="lista">{{input}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-list>

  </div>
</ion-content>