<ion-router-outlet main> </ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">CLIENTES</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar cliente" (ionChange)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list class="lista">
        <ion-item *ngFor="let input of FB.clientesLista">
        <ion-badge slot="start">11</ion-badge>
        <ion-label class="lista" (click)="irCardListaClientes(input)">{{input.nombres}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

  </ion-list>

</ion-content>