<ion-router-outlet main></ion-router-outlet>
<ion-header >
  <ion-toolbar>
    <ion-title>Iniciar sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="img-logo" src="assets/img/LOGO.png"></ion-img>
  <div class="div-formulario">
    <input type="text" placeholder="Ingrese su usuario" [(ngModel)]="email"> 
    <input type="password" placeholder="Insrese su contraseña" [(ngModel)]="password" >
    <ion-button id="button-login" color="success" (click)="irPaginaHome()">
      <ion-icon color="dark" slot="start" name="log-in"></ion-icon>Entrar
    </ion-button>
  </div>
    <div class="div-links">
      <a id="registrar" color="primary" (click)="irPaginaRegistro()">
        <ion-icon color="medium" slot="start" name="person-circle-outline"></ion-icon> Crear cuenta
      </a>
      <br>
      <a id="recuperar" color="primary" (click)="irRecuperar()">
        <ion-icon color="medium" slot="start" name="key-outline"></ion-icon> Recuperar contraseña
      </a>

    </div>
  

</ion-content>