<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">INICIAR SESION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-img">
    <ion-img class="img-logo" src="assets/img/logo_oficial.png"></ion-img>
  </div>
  <div class="div-formulario">
    <input class="input__user" type="text" placeholder="Ingresa tu usuario" [(ngModel)]="email" />
    <input class="input__password" type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" />
    <ion-button class="btn__entrar" fill="clear" (click)="irPaginaHome()">
      <ion-icon slot="start" name="log-in"></ion-icon>Entrar
    </ion-button>
  </div>
  <div class="div-links">
    <a id="registrar" color="primary" (click)="irPaginaRegistro()">
      <ion-icon color="medium" slot="start" name="person-circle-outline"></ion-icon> Crear cuenta
    </a>
    <br>
    <a id="recuperar" color="primary" (click)="irRecuperar()">
      <ion-icon color="medium" slot="start" name="key-outline"></ion-icon> Recuperar contraseña
    </a>

  </div>


</ion-content>