<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label for="">Usuario</label>
  <input type="text" placeholder="Ingrese su usuario">
  <label for="">Contraseña</label>
  <input type="password" placeholder="Insrese su contraseña">
  <button type="submit"></button>
  <ion-button id="button-login" color="success" (click)="irPaginaHome()">
    <ion-icon color="dark" slot="start" name="log-in"></ion-icon>Entrar
  </ion-button>
  <div class="div-button2-login">
    <ion-button id="button2-login" color="primary" (click)="irPaginaRegistro()">
      <ion-icon color="dark" slot="start" name="person-add"></ion-icon>Crear cuenta
    </ion-button>
  </div>

</ion-content>