<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">PESAJE COMPRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="div-fila">
      <div class="div-f">
        <p class="div-t">Regístrale un nuevo pesaje a:</p>
        <p class="div-v">{{idproveedor}}</p>
      </div>
    </div>
    <div class="div-fila">
      <div class="div-f">
        <p class="div-t">Fecha Compra</p>
        <p class="div-v" id="saldo-debito">{{saldodebitototal}}</p>
      </div>
      <!--<div class="div-f">
        <p class="div-t">Saldo Crédito</p>
        <p class="div-v" id="saldo-credito">{{saldocreditotal | currency:'USD':true: '2.0-0'}}</p>
      </div>-->
    </div>
  </div>


  <div class="div-secundario">
 


  </div>
  <p>Bulto No: {{numbulto}}"</p>
  <select value = "codigoproducto" name="Tipo de Queso">
    <option>Queso Costeño</option>
    <option>Debe listar los tipos de queso parametrizados</option>
   </select>
  <input type="text" placeholder="Peso" />
  </div>
  <div>
    <ion-button (click)="guardar()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>
