<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/cardcompras"
        color="medium"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">PESAJE COMPRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <p class="p-t">Regístrale un nuevo pesaje a:</p>
    <p class="p-v">{{id}}</p>
    <p class="p-t">Fecha Compra</p>
    <p class="p-v" id="saldo-debito">{{saldodebitototal}}</p>

    <div class="div-table">
      <ion-button
        class="btn-add"
        (click)="agregarBultoLista()"
        expand="block"
        fill="clear"
        shape="round"
      >
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
      <table class="table">
        <thead class="thead">
          <th class="th1">Bulto</th>
          <th class="th2">Peso</th>
        </thead>
        <tbody class="tbody">
          <tr class="tr" *ngFor="let lista of listaBultos; let i=index">
            <td class="td1">
              <label>{{numBulto}}</label>
            </td>
            <td class="td2">
              <input type="number" [(ngModel)]="peso" />
            </td>
            <ion-button (click)="removeRegister()" expand="block" fill="clear">
              Quitar
            </ion-button>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Bulto No: {{numbulto}}"</p>
    <select value="codigoproducto" name="Tipo de Queso">
      <option>Queso Costeño</option>
    </select>
    <input type="text" placeholder="Peso" />

    <div>
      <ion-button (click)="guardar()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>
  </div>
</ion-content>
