<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">¿QUÉ VAS A ENVIAR?</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="div-principal">

      <p class="p-title_r">Tipo de queso</p>
      <ion-select [(ngModel)]="tipoQueso" (ngModelChange)="permitirGuardar($event)" class="select" placeholder="Seleccione"
        [interfaceOptions]="customAlertOptions" interface="alert" multiple="false" ok-text="Aceptar"
        cancel-text="Cancelar">
        <ion-select-option [value]="lista.descripcion" *ngFor="let lista of FB.productosLista">
          {{lista.descripcion}}
        </ion-select-option>
      </ion-select>

      <p class="p-title_r">Estado</p>
      <ion-select [(ngModel)]="estadoQueso" (ngModelChange)="permitirGuardar($event)" class="select" [interfaceOptions]="customAlertOptions" interface="alert"
        multiple="false" ok-text="Aceptar" placeholder="Seleccione" cancel-text="Cancelar">
        <ion-select-option [value]="lista.descripcion" *ngFor="let lista of FB.estadoProductoLista">
          {{lista.descripcion}}
        </ion-select-option>
      </ion-select>

      <p class="p-title_r">Peso</p>
      <input type="number" (ngModelChange)="permitirGuardar($event)" class="input_peso" [(ngModel)]="valor" />

      <ion-button *ngIf="activarBoton"  class="btn_guardar" (click)="guardar()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>
  </div>
</ion-content>