ion-toolbar {
    --background: #1a1446;
}

ion-title {
    font-size: 20px;
}

.titulo {
    color: white;

}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: #1a1446;

    .content {
        width: 100%;
        max-width: 700px;
        margin: auto;



        .div-principal {
            height: 90%;
            width: 100%;
            padding-top: 2vh;
            padding: 10px;



            .p-title,
            .p-title_r {
                width: 100%;
                font-weight: bold;
                color: #1a1446;
                font-weight: bold;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            .p-title_r::after {
                content: '*';
                color: red;
            }

            .select,
            .input_peso {
                background-color: white;
                color: #1a1446;
                border-style: solid;
                border-width: 2px;
                border-color: #1a1446;
                font-size: medium;
                padding-left: 10px;
                border-radius: 5px;
                height: 40px;
                width: 100%;
                margin-bottom: 20px;
                --placeholder-color: #1a1446;
                --placeholder-opacity: 1;
                text-transform: uppercase;
            }

            input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input {
                -moz-appearance: textfield;
            }
            

            .btn_guardar {
                --background: #1a1446;
                font-size: 20px;
                height: 60px;
                width: 100%;
                color: white;
            }
        }
    }
}