<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-principal">
    <ion-card class="card" *ngFor="let lista of FB.clientesLista">
      <ion-card-subtitle>{{lista.numeroIdentificacion}}</ion-card-subtitle>
      <ion-card-title>{{lista.nombres}} {{lista.apellidos}}</ion-card-title>
      <p>Empresa: {{lista.empresa}}</p>
      <p>Tel: {{lista.celular}}</p>
      <p>Correo: {{lista.correo}}</p>
      <p>Dirección: {{lista.direccion}}</p>
    </ion-card>
  </div>
  <ion-fab (click)="presentActionSheet()" class="btn-options" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="hammer"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>