<ion-router-outlet id="first"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="lista()"></ion-menu-button>
      <!-- <ion-menu>
        <ion-nav [root]="menuList"> </ion-nav>
      </ion-menu> -->
    </ion-buttons>
    <ion-title class="titulo"> MENU PRINCIPAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <ion-row class="row1">
      <div class="col1">
        <ion-card class="card1" (click)="comprar()">
          <!-- [href]="'/cardcompras'" routerDirection="forward" --- OR -----  (click)="comprar()"-->
          <div class="div-label-compras" >
            <p class="label">COMPRAR</p>
            <img src="../../assets/img/cart.png.png">
          </div>
        </ion-card>
      </div>
      <div class="col2">
        <ion-card class="card2">
          <div class="div-label-ventas" (click)="comprar()">
            <p class="label">VENDER</p>
            <img src="../../assets/img/cartLleno.png">
          </div>
        </ion-card>
      </div>
    </ion-row>
    <ion-row class="row2">
      <div class="col3">
        <ion-card class="card3" (click)="irCardLotes()">
          <div class="div-label-prov">
            <p class="label">ESTADO</p>
            <img src="../../assets/img/prov.png">
          </div>
        </ion-card>
      </div>
    </ion-row>
  </div>
</ion-content>
<ion-menu side="start" type="push" menuId="first" contentId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Configurar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="irCiudad()">Ciudades</ion-item>
      <ion-item (click)="irCliente()">Clientes</ion-item>
      <ion-item (click)="irConductor()">Conductores</ion-item>
      <ion-item (click)="irEstadoQueso()">Estados del Queso</ion-item>
      <ion-item (click)="irProveedor()">Proveedores</ion-item>
      <ion-item (click)="irTipoAnticipo()">Tipos de Anticipo</ion-item>
      <ion-item (click)="irTipoIdentificacion()">Tipos de Identificación</ion-item>
      <ion-item (click)="irTipoQueso()">Tipos de Queso</ion-item>
      <!-- <ion-item (click)="irTipoTrueque()">Tipos de Trueque</ion-item> -->
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-button class="cerraSesion" expand="full" (click)="cerrarSesion()">
      Cerrar Sesión
    </ion-button>
  </ion-footer>
</ion-menu>