ion-toolbar {
    --background: #1a1446;
}

.titulo {
    color: white;
}

ion-content {
    margin: 0;
    padding: 0;
    --background: #c8f7f3;
    //--background: rgba(245, 240, 184, 1);

    .row1,
    .row2 {
        height: 50%;
        width: 100%;
        padding: 0;
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        margin: auto;
        height: 90%;
        width: 95%;
        text-align: center;
    }

    .btn-title1 {
        --background: #4376ff;
    }

    .btn-title2 {
        --background: #ff2f73;
    }

    .btn-title3 {
        --background: #1a1446;
    }

    .btn-title4 {
        --background: #4376ff;
    }

    .btn-title1,
    .btn-title2 {
        height: 80%;
    }

    .btn-title3,
    .btn-title4 {
        height: 100%;
    }

    .btn-title1,
    .btn-title2,
    .btn-title3,
    .btn-title4 {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 5vw;
    }

    .div-boton-lote {
        padding: 0%;
        height: 20%;
        width: 100%;
        border-style: none;
    }

    .boton-n-lote,
    .boton-v-lote {
        margin: 0;
        border-style: none;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .boton-n-lote {
        --background: #1a1446;
    }

    .boton-v-lote {
        --background: #4346ff;
    }

    ion-card {
        --background: transparent;
    }



    /*
    .boton-v-lote{
        margin:0;
        border-radius: 50%;
        border-top:rgb(189, 189, 189) 5px dashed;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    */
}

ion-footer {
    .cerraSesion {
        --padding: 0;
        --margin: 0;
        --background: transparent;
    }
}