<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">CALCULA EL VALOR DE LA VENTA</ion-title>
    <ion-buttons slot="end" (click)="presentPopover()">
      <ion-icon slot="icon-only" name="add" color="success"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div-principal">
    <div class="info">
      <p class="p">Peso confirmado:</p>
      <h3 class="h3">{{{fbsumapeso}}<span>kg de</span> {{pesoTotal}}<span>Kg.</span></h3>
      <p class="p">Valor calculado:</p>
      <h3 class="h3">{{fbsaldoPesoConfirmado | currency:'USD':true: '2.0-0'}}</h3>
    </div>
  </div>
  <div class="div_tabla">
    <p #siver>Lista Confirmación</p>
    <table class="table">
      <thead class="thead">
        <th class="th1">Estado</th>
        <th class="th2">Peso <span>Kg</span></th>
        <th class="th3">Valor Kg</th>
        <th class="th4">Valor Total</th>
      </thead>
    </table>
    <ion-item-sliding class="slider" *ngFor="let lista of pesajeConfirmadoLista">
      <ion-item class="item">
        <label class="td1" (ngModel)="numbulto">{{nombreEstadoQueso}}</label>
        <label class="td2" (ngModel)="peso">{{cantidadEstado}}</label>
        <label class="td3" (ngModel)="numbulto">{{costoKilo | currency:'USD':true: '2.0-0'}}</label>
        <label class="td4" (ngModel)="numbulto">{{costoTotalEstado | currency:'USD':true: '2.0-0'}}</label>
      </ion-item>
      <ion-item-options class="item-opt" side="end">
        <ion-item-option color="danger" (click)="removeRegister(lista)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>
