ion-content {
    margin: 0;
    padding: 0;
    --background: rgba(245, 240, 184, 1);

    .div-formulario {
        padding: 0;
        width: 80%;
        margin: auto;
    }

    input {
        background-color: grey;
        //background-color: transparentize($color: grey, $amount: 0.5);
        border-style: hidden;
        color: white;
        font-size: medium;
        padding-left: 10px;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
    }

    .div-formulario ion-button {
        margin-bottom: 40px;
        font-size: 20px;
        height: 60px;
        width: 100%;
    }

    ion-text,
    label {
        color: black;
    }

    ion-item {
        --border-style: none;
        --background: grey;
        margin-bottom: 20px;
        text-align: right;
        border-radius: 5px;
        width: 100%;
    }

    .select {
        padding-right: 10px;
        background: grey;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .subir{
        margin: auto;
        width: 100%;
        background: #f55d3e;
        color:#fff;
    }
    .subir-i{
        margin: auto;
        text-align: center;
        background-color: blue;
    }
    .file-upload{
        position: absolute;
        padding: 0;
        text-align: center;
        background-color: #a6ff00;
        width: 100%;
        opacity: 0%;
        margin: 0;
        float:center;
    }
    .item-file{
        text-align: center;
        border-radius: 5px;
        padding: 0;
        width: 100%;
        background-color: grey;
        float: center;
    }
    .item-file label{
        text-align: center;
        width: 100%;
        //color: black;
        color:rgba(245, 240, 184, 1);
    }
    .div-input{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        float: center;
    }


}