<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Anticipos en Efectivo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <ion-text>
      <div>
        <p>Registrale un nuevo anticipo a: {{proveedor}}</p>
        <p> {{idproveedor}}</p>
      </div>
    </ion-text>

    <label for="tanticipo">Fecha anticipo:</label>
    <input type="date" id="tanticipo" name="tanticipo" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>

    <ion-select class="select" [interfaceOptions]="customAlertOptions" title="seleccione el anticipo" interface="alert"
      multiple="false" placeholder="Tipo de anticipo">
      <ion-select-option value="bacon">Bacosssssssssssssssssssssssn</ion-select-option>
    </ion-select>

    <!--<select value="codigoanticipo" name="Concepto del anticipo en efectivo">
      <option>Empleado</option>
      <option>Debe listar los tipos de anticipo de la tabla tipos_anticipo</option>
    </select>
  -->

    <input type="number" placeholder="Valor" />
    <input class="file" type="file" id="myFile" name="filename">
    

    <input type="submit">


    <ion-button (click)="guardar()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar anticipo
    </ion-button>
  </div>
</ion-content>