<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">DETALLE VENTAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" shape="round" slot="end" (click)="irVender()">
      <ion-icon name="bus" color="success"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content style="background-color: transparent;" pullingIcon="chevron-down-circle-outline"
      pullingText="Arrastra para actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="div-principal">
    <ion-title class="title">{{nombreCliente}}</ion-title>

    <ion-item class="item_fecha">
      <ion-label class="label">Filtrar mes-año</ion-label>
      <ion-datetime displayFormat="MMMM/YY" pickerFormat="MMMM YYYY" min="2020" max="2100"
        [pickerOptions]="customPickerOptions" value="valueDate"></ion-datetime>
    </ion-item>
  </div>
  <div class="div-secundario">
    <div class="ventasmes" *ngIf="show">
      <h2 class="valorVentas">Valor de las ventas: {{FB.sumaVentaMes | currency:'USD':true: '2.0-0'}}</h2>
      <ion-item-sliding class="slider" *ngFor="let card of FB.ventasclienteListaMes">
        <ion-item class="item">
          <div class="div-card">
            <ion-card class="card">
              <div class="div_info">
                <div class="div_fila_1">
                  <p><span>Ciudad: </span><span class="ciudad">{{card.ciudad}}</span></p>
                  <p><span>Fecha envio:</span> {{card.fechaEnvio}}</p>
                  <p><span>Peso total:</span> {{card.pesoEnviado}} </p>
                  <p>Valor T.Venta: {{card.costoVenta  | currency:'USD':true: '2.0-0'}}</p>
                </div>
              </div>
              <div class="div_tabla">
                <ion-list class="lista_item_ventas">
                  <ion-item class="item" (click)="agregarValorVenta(lista,card)"
                    *ngFor="let lista of card.pesadas ,let i=index">
                    <ion-label class="num">
                      <ion-icon class="icon" slot="start" name="cube-outline"></ion-icon>
                      <p class="valor">{{i+1}}</p>
                    </ion-label>
                    <ion-label class="peso">
                      <ion-icon class="icon" slot="end" name="pie-chart-outline" color="tertiary"></ion-icon>
                      <p class="valor" id="valorPeso">{{lista.peso}}</p>
                    </ion-label>
                    <ion-label>

                      <!-- currency:'USD':true: '2.0-0' -->
                      <p>Queso: {{lista.tipoQueso}}</p>
                      <p>Estado: {{lista.estadoQueso}}</p>
                      <h4>Valor: {{lista.valor  | currency:'USD':true: '2.0-0'}}</h4>
                      <h3>Total: {{lista.valorTotal  | currency:'USD':true: '2.0-0'}}</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ion-card>
          </div>
        </ion-item>
        <!-- opción para eliminar registro -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminarRegistro(card)">Eliminar</ion-item-option>
        </ion-item-options>
        <!-- Opción para editar el registro -->
        <ion-item-options side="start">
          <ion-item-option color="warning" (click)="alertEditar(lista)">Editar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    <div class="ventas" *ngIf="hiden">
      <!-- <h2>Valor de las ventas: {{FB.sumaVentas}}</h2> -->
      <ion-item-sliding class="slider" *ngFor="let card of listaFiltrada">
        <ion-item class="item">
          <div class="div-card">
            <ion-card class="card">
              <div class="div_info">
                <div class="div_fila_1">
                  <p><span>Ciudad: </span><span class="ciudad">{{card.ciudad}}</span></p>
                  <p><span>Fecha envio:</span> {{card.fechaEnvio}}</p>
                  <p><span>Peso total:</span> {{card.pesoEnviado}} </p>
                  <p>Valor T.Venta: {{card.costoVenta | currency:'USD':true: '2.0-0'}}</p>
                </div>
              </div>
              <div class="div_tabla">
                <ion-list class="lista_item_ventas">
                  <ion-item (click)="agregarValorVenta(lista)" class="item"
                    *ngFor="let lista of card.pesadas ,let i=index">
                    <ion-label class="num">
                      <ion-icon class="icon" slot="start" name="cube-outline"></ion-icon>
                      <p class="valor">{{i+1}}</p>
                    </ion-label>
                    <ion-label class="peso">
                      <ion-icon class="icon" slot="end" name="pie-chart-outline" color="tertiary"></ion-icon>
                      <p class="valor" id="valorPeso">{{lista.peso}}</p>
                    </ion-label>
                    <ion-label>

                      <!-- currency:'USD':true: '2.0-0' -->
                      <p>Queso: {{lista.tipoQueso}}</p>
                      <p>Estado: {{lista.estadoQueso}}</p>
                      <h4>Valor: {{lista.valor | currency:'USD':true: '2.0-0'}}</h4>
                      <h3>Total: {{lista.valorTotal | currency:'USD':true: '2.0-0'}}</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ion-card>
          </div>
        </ion-item>
        <!-- opción para eliminar registro -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminarRegistro(card)">Eliminar</ion-item-option>
        </ion-item-options>
        <!-- Opción para editar el registro -->
        <ion-item-options side="start">
          <ion-item-option color="warning" (click)="alertEditar(lista)">Editar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irInicio()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irCompras()">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irEstado()">
          <ion-icon name="podium"></ion-icon>
          <ion-label>Estado</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>