<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">CONDUCTORES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="div-formulario">
  <ion-text>
    <div class="bloque">
      <p>Completa el formulario para crear un conductor</p>
    </div>
  </ion-text>
</div>

<div>
  <ion-select class="select" [interfaceOptions]="customAlertOptions" interface="alert" multiple="false"
    placeholder="Tipo de identificación" [(ngModel)]="tipoIdentificacionConductor">
    <ion-select-option value="{{lista.codigo}}" *ngFor="let lista of FB.tiposIdentificacionLista">
      {{lista.descripcion}}
    </ion-select-option>
  </ion-select>
  <input type="text" placeholder="Número de Identificación" [(ngModel)]="numeroIdentificacionConductor" />
  <input type="text" placeholder="Nombres" [(ngModel)]="nombreConductor" />
  <input type="text" placeholder="Apellidos" [(ngModel)]="apelidoConductor" />
  <input type="text" placeholder="Celular" [(ngModel)]="celularConductor" />
</div>
<div>
  <ion-button (click)="guardarConductor()" expand="full">
    <ion-icon name="save-outline"></ion-icon>
    Guardar
  </ion-button>
</div>

</ion-content>