ion-toolbar {
    --background: #1a1446;
}
.titulo{
    color: white;
}
ion-content {
    margin: 0;
    padding: 0;
    --background: #c8f7f3;

    .div-formulario {
        padding: 0;
        width: 80%;
        margin: 30px auto;
    }

    input,
    .select {
        background-color: white;
        color: #1a1446;
        border-style: solid;
        border-width: 2px;
        border-color: #1a1446;
        font-size: medium;
        padding-left: 10px;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        text-transform:uppercase;
    }

    p {
        font-weight: bold;
        margin: 0 auto;
        color: #1a1446;
    }
    p > span{
        color: red;
    }

    ion-button {
        --background: #1a1446;
        font-size: 20px;
        height: 60px;
        width: 100%;
        color: white;
    }
}