ion-header {
    ion-toolbar {
        --background: #1a1446;

        ion-title {
            font-size: 20px;
            color: white;

        }

    }

    .search {
        width: 100%;
        max-width: 700px;
        margin: auto;
    }
}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: black;



    .content {
        width: 100%;
        max-width: 700px;
        margin: auto;

        .totales {
            width: 100%;
            max-width: 700px;
            position: fixed;
            z-index: 50;
            height: 120px;
            background-color: #c8f7f3;

            .label {
                display: inline-block;
                width: 30%;
                max-width: 700px;
                padding-left: 20px;
                color: #1a1446;
            }

            .valor {
                display: inline-block;
                width: 70%;
                max-width: 700px;

                color: #ff2f73;
                font-family: monospace;
            }

            .search {
                display: inline-block;
                width: 100%;
                max-width: 700px;

            }
        }

        .div__lista {
            margin-top: 30px;
            width: 100%;
            position: absolute;
            margin-top: 125px;
            max-width: 700px;
        }
    }

}

.lista {
    --background-activated: red;
}