ion-header {
    ion-toolbar {
        --background: #1a1446;

        ion-title {
            font-size: 20px;
            color: white;

        }

    }
}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: black;

    .content {
        width: 100%;
        max-width: 700px;
        margin: auto;

        .totales {
            width: 100%;
            max-width: 700px;
            position: fixed;
            z-index: 50;
            height: 115px;
            margin-bottom: 10px;
            background-color: #c8f7f3;

            .div__totales {
                width: 100%;
                margin: auto;
                background-color: #252525;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;

                .label {
                    display: inline-block;
                    width: 30%;
                    max-width: 700px;
                    padding-left: 20px;
                    color: white;
                }

                .valorC,
                .valorD,
                .valorS {
                    padding-right: 20px;
                    display: inline-block;
                    text-align: right;
                    width: 70%;
                    max-width: 700px;
                }

                .valorC {
                    color: #C43333;
                }

                .valorD {
                    color: #90ee90;
                }

                .valorS {
                    color: #5d88ff;
                }


            }

            .search {
                --background: #252525;
                margin: auto;
                width: 100%;
                padding: 0;
                background-color: transparent;
                color: white;
                --icon-color: #4376ff;
                --placeholder-color: white;
            }
        }

        .div__lista {
            margin-top: 30px;
            width: 100%;
            position: absolute;
            margin-top: 125px;
            max-width: 700px;

            .lista {
                background-color: transparent;

                .item {
                    margin-bottom: 3px;
                    --background: #252525;

                    .icon {
                        color: #4376ff;
                    }

                    .label {
                        color: white;
                    }
                }
            }
        }
    }
}