<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">PROVEEDORES</ion-title>
    <ion-searchbar class="search" placeholder="Buscar proveedor" (ionChange)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="totales">
      <label class="label">Crédito</label>
      <label class="valor">{{FB.credito | currency:'USD':true: '2.0-0'}}</label>
      <label class="label">Débito</label>
      <label class="valor">{{FB.debito | currency:'USD':true: '2.0-0'}}</label>
      <label class="label">Saldo</label>
      <label class="valor">{{(FB.debito - FB.credito) | currency:'USD':true: '2.0-0'}}</label>
    </div>
    <div class="div__lista">
      <ion-list class="lista">
        <ion-item *ngFor="let input of listanombres1">
          <ion-icon slot="start" name="chevron-forward"></ion-icon>
          <ion-label class="lista" (click)="irCardLote(input)">{{input}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>