ion-toolbar {
    --background: #1a1446;
}

.titulo {
    color: white;
}

ion-content {
    padding: 0;
    margin: 0;
    --background: #c8f7f3;
    --color: #1a1446;

    .div-principal {
        width: 100%;
        background-color: #15317c;
        position: fixed;
        z-index: 20;


        .col_1 {
            display: inline-block;
            width: 100%;
            height: 70%;
            margin: auto;
            text-align: center;

            .p1,
            .p2 {
                margin: 0%;
                padding: 0%;
            }

            .p1 {
                font-size: 2.5vh;
                color: #fff;
            }

            .p2 {
                font-size: 3vh;
                font-weight: bold;
                color: #c8f7f3;
            }

            
            .ultimoSaldo{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 2vh;
                color: azure;
                z-index: 30;

            }
        }

        .col_2 {
            display: inline-block;
            width: 100%;
            height: 30%;
            margin: auto;
            text-align: center;

            .div_1,
            .div_2,
            .div_3 {
                display: inline-block;
                margin: auto;
                width: 33%;
                height: 100%;
            }

            .p_title {
                display: inline-block;
                width: 100%;
                height: 30%;
                margin: auto;
                color: #fff;
                font-size: 2vh;
            }

            .labels {
                display: inline-block;
                width: 100%;
                height: 70%;
                margin: auto;
                color: #c8f7f3;
                font-size: 3vh;
            }
        }
    }

    .div-secundario {
        height: 90%;
        width: 100%;
        margin: auto;
        margin-top: 5rem;
        max-width: 800px;
        z-index: 10;



        .div-card {
            width: 100%;
            border: #1a1446 solid 3px;
            border-radius: 5px;

        }

        .card {
            width: 100%;
            margin: auto;
            background-color: white;

            .labels {
                width: 100%;
                display: inline-block;
                padding: 5px;
                margin: auto 30px;
                color: #1a1446;
                font-weight: bold;
            }
        }
    }
}