<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">LOTES DE COMPRAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cardlistaproveedores" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" slot="end" (click)="saldarLotes()">
      <ion-icon name="calculator"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content style="background-color: transparent;" pullingIcon="chevron-down-circle-outline"
      pullingText="Arrastra para actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="div-principal">
    <div class="col_1">
      <p class="p1">Proveedor</p>
      <p class="p2">{{nombreProv}}</p>
      <label class="ultimoSaldo">{{ultimoSaldo | currency:'USD':true: '2.0-0'}}</label>
    </div>
    <div class="col_2">
      <div class="div_1">
        <p class="p_title">Crédito</p>
        <ion-label class="labels">{{creditoGeneral | currency:'USD':true: '2.0-0'}}</ion-label>
      </div>
      <div class="div_2">
        <ion-label class="labels" id="saldo">{{saldoGeneral  | currency:'USD':true: '2.0-0'}}</ion-label>
        <p class="p_title">Saldo</p>
      </div>
      <div class="div_3">
        <p class="p_title">Debito</p>
        <ion-label class="labels" >{{debitoGeneral | currency:'USD':true: '2.0-0'}}</ion-label>
      </div>
    </div>
  </div>
  <div class="div-secundario">
    <ion-list>
      <ion-item class="item" *ngFor="let item of FB.listaLotesDelProveedor" (click)="irDetalleLote(item)">
        <ion-label>
          <h3>{{item.lote}}</h3>
          <h1>{{(item.anticipo - item.compra) | currency:'USD':true: '2.0-0' }}</h1>
          <p>T.Crédito:{{item.compra | currency:'USD':true: '2.0-0'}}</p>
          <p>T.Debito:{{item.anticipo | currency:'USD':true: '2.0-0'}}</p>
        </ion-label>
        <ion-icon slot="start" name="chevron-forward"> </ion-icon>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs class="">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irInicio()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irCompras()">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irEstado()">
          <ion-icon name="podium"></ion-icon>
          <ion-label>Estado</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>