<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">LOTES DE COMPRAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="div-col-1">
      <div>
        <p class="div-t">Proveedor</p>
        <p class="div-v">{{nombreProv}}</p>
      </div>
    </div>
  </div>
  <div class="div-secundario">
    <ion-item class="item" *ngFor="let item of FB.listaLotesDelProveedor" (click)="irDetalleLote(item)">
      <ion-icon slot="start" name="chevron-forward">
      </ion-icon>
      <ion-label>Lote: {{ item.lote}}</ion-label>
      <ion-label>Total Compras: {{  item.compra}}</ion-label>
      <ion-label>Total Anticipos {{ item.anticipo  }}</ion-label>
      <ion-badge slot="end">42</ion-badge>
    </ion-item>

  </div>
  <ion-button (click)="saldarDeuda()" expand="full">
    <ion-icon name="cash-outline"></ion-icon>
    Saldar Deuda
  </ion-button>
</ion-content>