<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">LOTES DE COMPRAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cardlistaproveedores" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="col_1">
      <p class="p1">Proveedor</p>
      <p class="p2">{{nombreProv}}</p>
      <p class="p2"></p>
      <ion-label class="labels">Total General Crédito: {{creditoGeneral | currency:'USD':true: '2.0-0'}}</ion-label>
      <ion-label class="labels">Total General Debito: {{debitoGeneral | currency:'USD':true: '2.0-0'}}</ion-label>
      <ion-label class="labels">Total General Saldo: {{ saldoGeneral  | currency:'USD':true: '2.0-0'}}</ion-label>
    </div>
  </div>
  <div class="div-secundario">
    <ion-card class="card" *ngFor="let item of FB.listaLotesDelProveedor" (click)="irDetalleLote(item)">
      <ion-label class="labels">Lote: {{item.lote}}</ion-label>
      <ion-label class="labels">Total Crédito: {{item.compra | currency:'USD':true: '2.0-0'}}</ion-label>
      <ion-label class="labels">Total Debito: {{item.anticipo | currency:'USD':true: '2.0-0'}}</ion-label>
      <ion-label class="labels">Total Saldo: {{ item.anticipo - item.compra | currency:'USD':true: '2.0-0'}}</ion-label>
      <ion-icon slot="start" name="chevron-forward"></ion-icon>
      <ion-badge slot="end">0</ion-badge>
    </ion-card>
  </div>
  <ion-button (click)="saldarDeuda()" expand="full">
    <ion-icon name="cash-outline"></ion-icon>
    Saldar Deuda
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs class="">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="irInicio()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irCompras()">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="irEstado()">
          <ion-icon name="podium"></ion-icon>
          <ion-label>Estado</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>