<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Tipos de Queso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div>
    <ion-text>
      <p>Completa el formulario para crear los tipos de Queso</p>
    </ion-text>
    <input type="text" placeholder="Código" [(ngModel)]="codigoProducto" />
    <input type="text" placeholder="Nombre del tipo de queso" [(ngModel)]="descripcionProducto"/>


  </div>
  
  <div>
    <ion-button (click)="agregarProducto()" expand="full">
      <ion-icon name="cloudy"></ion-icon>
      Guardar
    </ion-button>
  </div>

</ion-content>
