<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">CERRAR</ion-button>
    </ion-buttons>
    <ion-title class="titulo">CLIENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <p>Tipo de identificación<span>*</span></p>
    <ion-select [(ngModel)]="tipoIdentificacionEdit" class="select" [interfaceOptions]="customAlertOptions"
      interface="alert" multiple="false" ok-text="Aceptar" cancel-text="Cancelar">
      <ion-select-option [value]="lista.codigo" *ngFor="let lista of FB.tiposIdentificacionLista">
        {{lista.descripcion}}
      </ion-select-option>
    </ion-select>

    <p>Número de identificación<span>*</span></p>
    <input type="text" placeholder="{{numeroIdentificacionClienteEdit}}"
      [(ngModel)]="numeroIdentificacionClienteEdit" />

    <p>Nombres<span>*</span></p>
    <input type="text" placeholder="{{nombresClienteEdit}}" [(ngModel)]="nombresClienteEdit" />

    <p>Apellidos</p>
    <input type="text" placeholder="{{apellidosClienteEdit}}" [(ngModel)]="apellidosClienteEdit" />

    <p>nombre empresa<span>*</span></p>
    <input type="text" placeholder="{{empresaClienteEdit}}" [(ngModel)]="empresaClienteEdit" />

    <p>Ciudad<span>*</span></p>
    <ion-select [(ngModel)]="codigociudadEdit" class="select" [interfaceOptions]="customAlertOptions2" interface="alert"
      multiple="false" ok-text="Aceptar" cancel-text="CANCELAR">
      <ion-select-option [value]="lista.codigo" *ngFor="let lista of FB.ciudadesLista">
        {{lista.descripcion}}
      </ion-select-option>
    </ion-select>

    <p>Celular<span>*</span></p>
    <input type="text" placeholder="{{celularClienteEdit}}" [(ngModel)]="celularClienteEdit" />

    <p>Dirección<span>*</span></p>
    <input type="text" placeholder="{{direccionClienteEdit}}" [(ngModel)]="direccionClienteEdit" />

    <p>Correo</p>
    <input type="text" placeholder="{{correoClienteEdit}}" [(ngModel)]="correoClienteEdit" />

  </div>
  <div>
    <ion-button (click)="guardar()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>