<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Crear Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    <p>Completa el formulario para registrar un nuevo cliente</p>
  </ion-text>
  <div>
  <select value = "tipoidentificacion" name="tipoidentificacion">
    <option>Cédula de Ciudadanía</option>
   </select>
  <input type="text" placeholder="Número de Identificación" [(ngModel)]="numeroIdentificacionCliente" />
  <input type="text" placeholder="Nombres" [(ngModel)]="nombresClietne" />
  <input type="text" placeholder="Apellidos" [(ngModel)]="apellidosCliente" />
  <input type="text" placeholder="Quesera" [(ngModel)]="empresaCliente" />
  <select value = "ciudad" name="Ciudad">
    <option>Bogotá</option>
    <option>Cali</option>
    <option>Medellín</option>
    <option>Debe cargar la lista de ciudades creadas</option>
   </select>
  <input type="text" placeholder="Celular" [(ngModel)]="celularCliente" />
  <input type="text" placeholder="Dirección" [(ngModel)]="direccionCliente" />
  <input type="text" placeholder="Correo Electrónico" [(ngModel)]="correoCliente" />
  </div>
  <div>
    <ion-button (click)="guardarCliente()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>