<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Crear Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">

    <ion-text>
      <p>Completa el formulario para registrar un nuevo cliente</p>
    </ion-text>
    <div>
      <ion-select name="tipoidentificacion" class="select" [interfaceOptions]="customAlertOptions"
        title="seleccione el anticipo" interface="alert" multiple="false" placeholder="Tipo de identificación">
        <ion-select-option *ngFor="let lista of FB.getCiudades()"> {{item}}</ion-select-option>
      </ion-select>
      <input type="text" placeholder="Número de Identificación" [(ngModel)]="numeroIdentificacionCliente" />
      <input type="text" placeholder="Nombres" [(ngModel)]="nombresClietne" />
      <input type="text" placeholder="Apellidos" [(ngModel)]="apellidosCliente" />
      <input type="text" placeholder="Quesera" [(ngModel)]="empresaCliente" />
      <select name="Ciudad" [(ngModel)]="codigoCiudad">
        <option *ngFor="let ciudad of FB.ciudadesLista">{{ciudad.descripcion}}</option>
      </select>
      <input type="text" placeholder="Celular" [(ngModel)]="celularCliente" />
      <input type="text" placeholder="Dirección" [(ngModel)]="direccionCliente" />
      <input type="text" placeholder="Correo Electrónico" [(ngModel)]="correoCliente" />
    </div>
    <div>
      <ion-button (click)="guardarCliente()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>
  </div>
</ion-content>