<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">DISTRIBUYE TU COMPRA</ion-title>
    <ion-buttons *ngIf="mostrarCrearConfirmar" [disabled]="isEnabled" slot="end" (click)="crearModal()">
      <ion-icon slot="icon-only" name="add" color="success"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="danger">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div-principal">
    <div class="info">
      <p>Peso confirmado</p>
      <label [(ngModel)]="sumaPeso" id="variablePeso">{{sumaPeso}}</label> <label> / {{pesoTotal}}</label>
      <!-- <h1 id="mensajePeso" *ngIf="mostrarMsgLleno">Ya no puedes llegaste al limite</h1> -->

    </div>
  </div>
  <div class="div_tabla">
    <p #siver>Lista Confirmación</p>
    <table class="table">
      <thead class="thead">
        <th class="th1">Estado</th>
        <th class="th2">Peso <span>Kg</span></th>
        <th class="th3">Valor Kg</th>
        <th class="th4">Valor Total</th>
      </thead>
      <tbody class="tbody">
        <tr class="tr" *ngFor="let lista of FB.pesajeConfirmadoLista">
          <td class="td1">
            <label (ngModel)="numbulto">{{lista.nombreEstadoQueso}}</label>
          </td>
          <td class="td2">
            <label (ngModel)="peso">{{lista.cantidadEstado}}</label>
          </td>
          <td class="td3">
            <label (ngModel)="numbulto">{{lista.costoKilo | currency:'USD':true: '2.0-0'}}</label>
          </td>
          <td class="td4">
            <label (ngModel)="numbulto">{{lista.costoTotalEstado | currency:'USD':true: '2.0-0'}}</label>
          </td>
          <td class="td4">
            <div class="div_toggle">
              <ion-chip class="btn-remove" (click)="removeRegister()">
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-chip>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="div_toggle">
        <ion-chip class="btn-add" (click)="agregarBultoLista()">
          <ion-icon name="add" color="success"></ion-icon>
          <ion-label color="dark">Agregar</ion-label>
        </ion-chip>
      </div>
      <ion-button (click)="guardar()" expand="full" color="success">
        <ion-icon name="save-outline"></ion-icon>
        <ion-label>Guardar</ion-label>
      </ion-button> -->

  </div>
  <!-- <ion-footer>
    <ion-button (click)="guardar()" expand="full" color="success">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Guardar</ion-label>
    </ion-button>
  </ion-footer> -->
</ion-content>