<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Crear Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    <p>Completa el formulario para registrar un nuevo proveedor</p>
  </ion-text>
  <div>
    <select value = "tipoidentificacion" name="tipoidentificacion">
      <option>Cédula de Ciudadanía</option>
      
     </select>
  <input type="text" placeholder="Número de Identificación" [(ngModel)]="numIndetificacionProveedor"/>
  <input type="text" placeholder="Nombres" [(ngModel)]="nombreProveedor" />
  <input type="text" placeholder="Apellidos" [(ngModel)]="apellidoProveedor" />
  <input type="text" placeholder="Celular" [(ngModel)]="telefonoProveedor" />
  <input type="text" placeholder="Dirección" [(ngModel)]="direccionProveedor" />
  <input type="text" placeholder="Correo Electrónico" [(ngModel)]="correoProveedor" />
</div>
  <div>
    <ion-button (click)="crearProveedor()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>
