<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="volver()" color="danger">CERRAR</ion-button>
    </ion-buttons>
    <ion-title class="titulo">PROVEEDORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div-formulario">
    <p>Tipo de identificación<span>*</span></p>
    <ion-select [(ngModel)]="idTipoIdentificacionEdit" class="select" [interfaceOptions]="customAlertOptions"
    interface="alert" multiple="false" ok-text="Aceptar" cancel-text="Cancelar">
    <ion-select-option [value]="lista.codigo" *ngFor="let lista of FB.tiposIdentificacionLista">
      {{lista.descripcion}}
    </ion-select-option>
  </ion-select>



    <p>Número de Identificación <span>*</span></p>
    <input maxlength="15" type="text" placeholder="{{numIndetificacionEdit}}" [(ngModel)]="numIndetificacionEdit"/>
    <p>Nombres <span>*</span></p>
    <input maxlength="30" type="text" placeholder="{{nombreEdit}}" [(ngModel)]="nombreEdit"/>
    <p>Apellidos</p>
    <input maxlength="30" type="text" placeholder="{{apellidoEdit}}" [(ngModel)]="apellidoEdit"/>
    <p>Celular <span>*</span></p>
    <input maxlength="12" type="text" placeholder="{{telefonoEdit}}" [(ngModel)]="telefonoEdit"/>
    <p>Dirección</p>
    <input maxlength="50" type="text" placeholder="{{direccionEdit}}" [(ngModel)]="direccionEdit"/>
    <p>Correo Electrónico</p>
    <input maxlength="50" type="text" placeholder="{{correoEdit}}" [(ngModel)]="correoEdit"/>
  </div>
  <div>
    <ion-button (click)="crearProveedor()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>