<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="volver()" color="danger">CERRAR</ion-button>
    </ion-buttons>
    <ion-title class="titulo">TIPOS DE IDENTIFICACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <p>Código <span>*</span></p>
    <input maxlength="4" type="text" placeholder="{{codigoEdit}}" [(ngModel)]="codigoEdit"/>
    <p>Descripción<span>*</span></p>
    <input maxlength="30" type="text" placeholder="{{descripcionEdit}}" [(ngModel)]="descripcionEdit"/>
    <ion-button (click)="guardarTipoIdentificacion()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>
