<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Tipos de Identificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>Completa el formulario para crear los tipos de identificación de proveedores y/o clientes</p>
  </ion-text>
  <div>
  <input type="text" placeholder="Código Tipo Identificación" [(ngModel)]="codigoTipoIdentificacion"/>
  <input type="text" placeholder="Descripción del tipo de Identificación" [(ngModel)]="descripcionTipoIdentificacion" />
</div>
  <div>
    <ion-button (click)="guardarTipoIdentificacion()" expand="full">
    <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>

</ion-content>
