<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TIPOS DE IDENTIFICACIÓN</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-formulario">
    <ion-text>
      <div class="bloque">
        <p>Completa el formulario para crear tipos de identificación de tus clientes y/o proveedores</p>
      </div>
    </ion-text>
  </div>

    <div>
      <input type="text" placeholder="Código" [(ngModel)]="codigoTipoIdentificacion"/>
      <input type="text" placeholder="Descripción" [(ngModel)]="descripcionTipoIdentificacion"/>
    </div>

    <div>
      <ion-button (click)="guardarTipoIdentificacion()" expand="full">
        <ion-icon name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>

</ion-content>
