<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" color="success">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">CREAR ANTICIPO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <p class="subtitulo">Creando anticipo a:</p>
    <p class="nombre">{{nombreProv}}</p>
    <p class="subtituloR">Tipo de Anticipo</p>
    <ion-select class="camposForm" [(ngModel)]="tipoAnticipoEdit" [interfaceOptions]="customAlertOptions"
      interface="alert" multiple="false" ok-text="Aceptar" cancel-text="Cancelar">
      <ion-select-option [value]="lista.descripcion" *ngFor="let lista of FB.tipoAnticipoLista">
        {{lista.descripcion}}
      </ion-select-option>
    </ion-select>
    <p class="subtituloR">Valor</p>
    <input type="number" class="camposForm" [(ngModel)]="valor" />
    <div class="div-file">
      <label> {{nombreArchLoaded}} </label>
      <input class="file-upload" id="file-upload" type="file" (change)="subirImg($event)" />
    </div>
    <ion-button (click)="guardar()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>

</ion-content>