ion-toolbar {
    --background: #1a1446;
}
.titulo {
    color: white;
}

ion-content {
    padding: 0;
    margin: 0;


    .div-principal {
        display: inline-block;
        width: 100%;
        height: 10%;
        background-color: #4376ff;
        
    }
   .div-f{
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
  
    .div-t{
        padding-top: 10px;
        text-align: center;
        width: 100%;
        height: 30%;
        color: white;
    }
    .div-v{
        padding-top: 5px;
        font-size: 3uvh;
        text-align: center;
        position: relative;
        width: 100%;
        height: 70%;
        color: #ff2f73;
    }
  
    .div-secundario {
        height: 90%;
        width: 100%;
        background-color: #c8f7f3;

        input,
        .select {
            background-color: white;
            color: #1a1446;
            border-style: solid;
            border-width: 2px;
            border-color: #1a1446;
            font-size: medium;
            padding-left: 10px;
            border-radius: 5px;
            height: 40px;
            width: 100%;
            margin-bottom: 20px;
        }
    
        p {
            font-weight: bold;
            margin: 0 auto;
            color: #1a1446;
        }
        p > span{
            color: red;
        }

        .file-upload{
            position: absolute;
            padding: 0;
            text-align: center;
            --background-color: gray;
            width: 100%;
            opacity: 0%;
            margin: 0;
            float:center;
        }
        .item-file label{
            text-align: center;
            width: 100%;
            //color: black;
            color: #1a1446;
                }

        .div-input{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        float: center;
        background-color: gray;
        }
        
        ion-button {
            --background: #1a1446;
            font-size: 20px;
            height: 60px;
            width: 100%;
            color: white;
        }

    } 
}