<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detallelote" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">CREAR ANTICIPOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="div-fila">
      <div class="div-f">
        <p class="div-t">Anticipo A:</p>
        <p class="div-v">{{proveedor}}</p>
      </div>
    </div>
  </div>
  <div class="div-secundario">
    <p>Tipo de Anticipo<span>*</span></p>
    <ion-select [(ngModel)]="tipoAnticipoEdit" class="select" [interfaceOptions]="customAlertOptions" interface="alert"
      multiple="false" ok-text="Aceptar" cancel-text="Cancelar">
      <ion-select-option [value]="lista.codigo" *ngFor="let lista of FB.tipoAnticipoLista">
        {{lista.descripcion}}
      </ion-select-option>
    </ion-select>
    <p>Valor<span>*</span></p>
    <input type="text" placeholder="{{valorEdit}}" [(ngModel)]="valorEdit" />
    <div>
      <p>Suba el soporte del anticipo<span>*</span></p>
      <input type="file" #fileInput/>
      <button type="button" (click)="upload()">Subir</button>
    </div>
    <ion-button (click)="guardar()" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</ion-content>