<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">COMPRAR A PROVEEDORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="div-fila">
      <div class="div-f">
        <p class="div-t">Peso Actual</p>
        <p class="div-v">{{pesoacumulado}} <span> Kg</span></p>
      </div>
    </div>
    <div class="div-fila">
      <div class="div-f">
        <p class="div-t">Saldo Débito</p>
        <p class="div-v" id="saldo-debito">{{saldodebitototal | currency:'USD':true: '2.0-0'}}</p>
      </div>
      <div class="div-f">
        <p class="div-t">Saldo Crédito</p>
        <p class="div-v" id="saldo-credito">{{saldocreditotal | currency:'USD':true: '2.0-0'}}</p>
      </div>
    </div>
  </div>
  <div class="div-secundario">
    <ion-item-sliding class="slider" *ngFor="let card of FB.listaCompras">
      <ion-item class="item">
        <div class="div-card">
          <ion-button class="add" (click)="irPesajeCompra(card)" color="success" expand="full">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-card class="card" (click)="irCompraDetallada(card)">
            <div class="div-title">
              <ion-title>{{card.id}}</ion-title>
            </div>
            <div class="seccion-1">
              <div class="div-cajita">
                <p class="div-t">Bultos</p>
                <p class="div-v">{{card.totalBulto}}</p>
              </div>
              <div class="div-cajita">
                <p class="div-t">Débito</p>
                <p class="div-v" id="saldo-debito2">{{card.costoTotalCompra | currency:'USD':true: '2.0-0'}}</p>
              </div>
              <div>
                <p class="div-t">Crédito</p>
                <p class="div-v" id="saldo-credito2">{{card.costoTotalCompra | currency:'USD':true: '2.0-0'}}</p>
              </div>
            </div>
            <div class="seccion-2">
              <div class="div-cajita">
                <p class="div-t">Peso total comprado</p>
                <p class="div-v">{{card.pesoBultos}} <span> Kg</span></p>
              </div>
              <div class="div-cajita">
                <p class="div-t">SALDO</p>
                <p class="div-v" id="saldo-credito2">{{card.costoTotalCompra | currency:'USD':true: '2.0-0'}}</p>
              </div>
            </div>
          </ion-card>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(lista)">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="editarModal(lista)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-fab (click)="presentActionSheet()" class="btn-options" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="boton-add">
        <ion-icon name="hammer"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-select hidden id="select-alert" [interfaceOptions]="customAlertOptions" interface="alert" multiple="false"
      placeholder="Tipo de identificación" [(ngModel)]="tipoIdentificacion">
      <ion-select-option #fileInput value="{{lista.id}}" *ngFor="let lista of FB.clientesLista">
        {{lista.nombres}}
      </ion-select-option>
    </ion-select>

  </div>
</ion-content>