<ion-router-outlet id="myMenu" main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">ESTADOS QUESO</ion-title>
    <ion-buttons slot="end" (click)="crearModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div-principal">
    <ion-item-sliding class="slider" *ngFor="let lista of FB.estadoProductoLista">
      <ion-item class="item">
        <ion-card class="card">
          <p><span>Código: </span> {{lista.codigo}}</p>
          <p><span>Descripción: </span> {{lista.descripcion}}</p>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(lista)">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="editarModal(lista)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>