<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">PESAJES DETALLADOS</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/cardcompras" color ="success"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <div class="div-saldo-l">
      <div class="div-sdt">{{idproveedor}}</div>
    </div>
    <div class="div-saldo-a">
      <div class="div-sdt">Peso Total:</div>
      <div class="div-sdv">{{pesototal}} Kg</div>
    </div>
  </div>
  <div class="div-secundario">
    <ion-row class="row1">
      <ion-col id="col1">
        <ion-card id="card1">
          <div id="title1">Fecha: {{fechcompra}}</div>
          <div class="div-pesoc">
            <div class="div-sdp">Bulto:{{idbulto}}</div>
            <div class="div-stq">Tipo de queso: {{tipoqueso}}</div>
            <div class="div-spu">Peso: {{pesobulto}} Kg</div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab (click)="presentActionSheet()" class="btn-options" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="boton-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>