<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">PESAJES DETALLADOS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cardcompras" color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-principal">
    <ion-title>{{nombreProv}}</ion-title>
  </div>
  <div class="div-secundario">
    <ion-item-sliding class="slider" *ngFor="let card of FB.pesajeCompraLista">
      <ion-item class="item">
        <div class="div-card">
          <ion-card class="card">
            <div class="div_info">
              <ion-button (click)="presentPopover()" expand="block" fill="clear" shape="round">
                <ion-icon name="bar-chart"></ion-icon>
                Click me
              </ion-button>
              <ion-button (click)="presentPopover()" expand="block" fill="clear" shape="round">
                <ion-icon name="bar-chart"></ion-icon>
                Click me
              </ion-button>
              <p><span>Tipo de queso:</span> {{tipoQueso.descripcion}} </p>
              <p><span>Fecha:</span> {{card.fechaCompra}}</p>
              <p><span>Peso total:</span> {{card.pesoBultos}}</p>
              <p><span>Lista de bultos:</span> {{card.totalBulto}}</p>
            </div>
            <div class="div_tabla">
              <table class="table">
                <thead class="thead">
                  <th class="th1">Bulto</th>
                  <th class="th2">Peso (Kg)</th>
                </thead>
                <tbody class="tbody">
                  <tr class="tr" *ngFor="let lista of card.bultoLista ,let i=index">
                    <td class="td1">
                      <label (ngModel)="numbulto">{{i+1}}</label>
                    </td>
                    <td class="td2">
                      <label (ngModel)="peso">{{lista.peso}}</label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card>
        </div>
      </ion-item>
      <!-- opción para eliminar registro -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="editarModal(lista)">Eliminar</ion-item-option>
      </ion-item-options>
      <!-- Opción para editar el registro -->
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="editarModal(lista)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-row class="row1">
      <ion-col id="col1">
      </ion-col>
    </ion-row>
  </div>

  <ion-fab (click)="presentActionSheet()" class="btn-options" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="boton-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>